* {
	padding: 0%;
	margin: 0%;
	color: white;
	font-family: Helvetica;
}

/*	display and sizing	*/

.row{
	display: flex;
	flex-wrap: wrap;
}

.col-1{
	flex: 0 0 8.333334% !important;
	max-width: 8.333334% !important;
}

.col-2{
	flex: 0 0 16.666667% !important;
	max-width: 16.666667% !important;
}

.col-3{
	flex: 0 0 25% !important;
	max-width: 25% !important;
}

.col-4{
	flex: 0 0 33.333334% !important;
	max-width: 33.333334% !important;
}

.col-5{
	flex: 0 0 41.666667% !important;
	max-width: 41.666667% !important;
}

.col-6{
	flex: 0 0 50% !important;
	max-width: 50% !important;
}

.col-7{
	flex: 0 0 58.333334% !important;
	max-width: 58.333334% !important;
}

.col-8{
	flex: 0 0 66.666667% !important;
	max-width: 66.666667% !important;
}

.col-9{
	flex: 0 0 75% !important;
	max-width: 75% !important;
}

.col-10{
	flex: 0 0 83.333334% !important;
	max-width: 83.333334% !important;
}

.col-11{
	flex: 0 0 91.666667% !important;
	max-width: 91.666667% !important;
}

.col-12{
	flex: 0 0 100% !important;
	max-width: 100% !important;
}

/*----------------------*/
/*		SECTIONS		*/

#accueil{
	background-image: url("N4.jpg");
	background-size: cover;
	min-height: 100vh;
	position: relative;
	z-index: 9;
}

#about{
	background-color: white;
	position: relative;
	z-index: 10;
	padding: 10em;
}

#projets{
	position: relative;
	background-image: url("N1.jpg");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 7;
}

/*----------------------*/

p{
	font-size: 1em;
}

body {
    position: relative; 
}

html, body{
	min-width: 100%;
	min-height: 100vh;
}

#navContainer{
	min-height: 100vh;
	text-align: center;
	font-size: 1.5em;
}

#navBar{
	display: inline-block;
	position: relative;
	list-style: none;
	padding-top: 40vh;
}

#navBar li{
	margin-bottom: 2vh;
}

#navBar li a{
	text-decoration: none;
}

#navBar li a:hover{
	text-shadow: rgb(255, 255, 255) 0 0 .5em;
}

.hoverNavIndicator:first-child{
	margin-right: 1em;
}

.hoverNavIndicator:last-child{
	margin-left: 1em;
}

.navItem{
	letter-spacing: 0px;
	cursor: pointer;
	text-decoration: none;
}

.hoverNavIndicator{
	visibility: hidden;
}

.activeItem .hoverNavIndicator{
	visibility: visible;
}

.navItem:hover .hoverNavIndicator{
	visibility: visible;
}

#title{
	float: right;
	margin-right: 10vw;
}

#main{
	margin-top: 24vh;
}

#main h1{
	font-weight: normal;
	font-size: 5em;
	text-align: right;
	padding: 0 2.5vw 0 0;
}

#sub{
	margin-top: 3vh;
}

#sub h3{
	font-weight: normal;
	font-size: 1.5em;
	text-align: right;
	padding: 0 2.5vw 0 0;
}

#about p{
	color: black;
	text-align: justify;
}

.timeline{
	font-size: 1.5em;
}

/*			timeline			*/
.projet:first-child .timeline .line div:first-child{
	height: 5vh;
}

.projet:first-child .timeline .line div:first-child svg{
	height: 100%;
}

.projet:first-child .timeline .line div{
	height: calc(100% - 5vh);
}

.projet:first-child .timeline .line div svg{
	height: 100%;
}

.projet:first-child .timeline .line div:last-child{
	height: 0;
}

.projet .timeline .line div{
	height: 100%;
}

.projet .timeline .line div svg{
	height: 100%;
}

.projet .timeline .line div:first-child{
	height: 0;
}

.projet .timeline .line div:last-child{
	height: 0;
}

.projet:last-child .timeline .line div:first-child{
	height: 0;
}

.projet:last-child .timeline .line div{
	/*height: calc(100% - 5vh);*/
}

.projet:last-child .timeline .line div:last-child{
	height: 5vh;
}

.projet:last-child .timeline .line div:last-child svg{
	height: 100%;
}

/*			projetBody			*/
.projet:first-child .col-8 .projetContainer .projetBody{
	margin: 10vh 10vh 5vh 10vh;
	/*height: calc(50vh - 15vh);*/
}

.projet .col-8 .projetContainer .projetBody{
	margin: 5vh 10vh 5vh 10vh;
	/*height: calc(50vh - 15vh);*/
}

.projet:last-child .col-8 .projetContainer .projetBody{
	margin: 5vh 10vh 10vh 10vh;
}

/*			timeline			*/
.projet:first-child .timeline .col-8 div:first-child{
	height: 5vh;
}

.projet:first-child .timeline .col-8 .date{
	height: calc(100% - 5vh);
}

.projet .timeline .col-8 .date{
	height: 100%;
}

.date div{
	height: calc(50% - 0.5em) !important;
}

.projet:last-child .timeline .col-8 div:last-child svg{
	height: 100%;
}

.date h1{
	padding-right: .5em;
	text-align: right;
	font-size: 1em;
}

.projetBackground{
	height: 100%;
	width: 100%;
}

.pointer{
	z-index: 1;
	position: absolute;
	width: 4em;
	height: 4em;
	background-color: white;
	top: calc(50% - 2em);
	left: calc(0vh - 2em);
	transform: rotate(45deg);
}

.projetBody{
	z-index: 2;
	position: relative;
	width: calc(100% - 20vh);
}

.projetBackground{
	position: relative;
	z-index: 2;
}

.projetHeader h1{
	color: black;
}

.projetText{
	padding: 2em;
}

.projetTextContainer{
	background-color: white;
}

.projetTags ul{
	list-style-type: none;
	margin: 1em 0;
	display: flex;
	flex-wrap: wrap;
}

.projetTags ul li{
	display: inline;
	border: solid black .1em;
	border-radius: 0em;
	padding: .2em .4em;
	margin: .2em .4em .2em 0;
	color: black;
}

.projetTags ul li:first-child{
	margin: .2em .4em .2em 0;
}

.projetTags ul li:last-child{
	margin: .2em 0 .2em 0;
}

.projetDescription p{
	text-align: justify;
	color: black;
	overflow: auto;
}

.projetImages{
	position: relative;
	height: 100%;
	aspect-ratio: 16/9;
}

.projetImages img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.projetImages iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.imageNavigatorContainer{
	position: absolute;
	top: 90%;
	width: 30%;
	margin: 0 0 0 35%;
}

.imageNavigator{
	text-align: center;
	background-color: white;
}

.dot{
	height: .8em;
	width: .8em;
	margin: auto;
	display: inline-block;
	user-select: none;
	background-color: #333333;
}

.mainColor1{
	background-color: rgba(255, 170, 43, 0.8);
}

.mainColor2{
	background-color: rgba(70, 70, 70, 0.8);
}

.mainColor3{
	background-color: rgba(129, 129, 129, 0.8);
}

.shadow{
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
				0 6.7px 5.3px rgba(0, 0, 0, 0.048),
				0 12.5px 10px rgba(0, 0, 0, 0.06),
				0 22.3px 17.9px rgba(0, 0, 0, 0.072),
				0 41.8px 33.4px rgba(0, 0, 0, 0.086),
				0 100px 80px rgba(0, 0, 0, 0.12);
}