*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	z-index: 2;
}

body{
	z-index: 0;
	position: relative;
	overflow-x: hidden;
}

#home{
	height: 100vh;
	width: 100%;
}

nav{
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 3;
}

.nav-item{
	display: inline-block;
	padding: .5em;
	margin: .4em;
}

nav ul{
	padding: 1em;
}

.active{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#title{
	text-align: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 5%;
	float: left;
	width: 40%;
}

#picture{
	text-align: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10%;
	float: left;
	height: 60%;
}

#picture img{
	height: 100%;
}

h1{
	font-size: 4em;
}

hr{
	width: 50%;
	margin: 0 0 .5em 50%;
}

#about{
	width: 100%;
}

#about-container{
	position: relative;
	margin-left: 25%;
	margin-bottom: 8em;
	width: 50%;
}

#about-container h2{
	text-align: center;
	padding: 3em;
}

#about-container p{
	text-align: justify;
}

#projects{
	width: 100%;
}

#projects-container{
	position: relative;
	margin-left: 25%;
	margin-bottom: 8em;
	width: 50%;
}

#projects-container h2{
	text-align: center;
	padding: 3em;
}

.container {
	position: relative;
	width: calc(100% - .6em);
	margin: .6em .3em;
}
  
.image {
	display: block;
	width: 100%;
	height: auto;
}
  
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	border-left: 1px solid #00000000;
}
  
.container:hover .overlay {
	opacity: 1;
}
  
.text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
  
.row {
	display: flex;
	flex-wrap: wrap;
}
  
.column {
	width: 50%;
}

#experience{
	width: 100%;
}

#experience-container{
	position: relative;
	margin-left: 25%;
	margin-bottom: 8em;
	width: 50%;
}

#experience-container h2{
	text-align: center;
	padding: 3em;
}

#experience-container img{
	width: 100%;
	margin-bottom: 1em;
	background-color: white;
}

.logo{
	width: 30%;
	float: left;
	padding: 1em 1em 0 1em;
}

.experience-description{
	width: calc(70% - 4em);
    float: right;
    padding: 1em;
}

.experience-description h3, .experience-description h4{
	padding-bottom: 1em;
}

.experience-description p{
	text-align: justify;
}

#experience-container div{
	overflow: hidden;
}

#schooling{
	width: 100%;
}

#schooling-container{
	position: relative;
	margin-left: 25%;
	margin-bottom: 8em;
	width: 50%;
}

#schooling-container h2{
	text-align: center;
	padding: 3em;
}

#schooling-container img{
	width: 100%;
	margin-bottom: 1em;
	background-color: white;
}

.schooling-description{
	width: calc(70% - 4em);
    float: right;
    padding: 1em;
}

.schooling-description h3, .schooling-description h4{
	padding-bottom: 1em;
}

.schooling-description p{
	text-align: justify;
}

#schooling-container div{
	overflow: hidden;
}

/*	THEMES	*/
.dark-background{
	background-color: rgb(21, 21, 21);
}

.light-background{
	background-color: rgb(255, 255, 255);
}

.colored-background-fade{
	background-color: rgba(179, 255, 0, 0.699);
}

.colored-background{
	background-color: rgb(179, 255, 0);
}

.colored-border{
	border: solid 1px rgb(179, 255, 0);
}

.dark-text{
	color: #ffffff;
}

.light-text{
	color: #292929;
}

/*
purple 251 0 255
rose bonbon 255 0 124
cyan 0 191 255
vert 105 255 0
jaune poussin 255 217 0
*/

.loader-container{
	position: absolute;
	z-index: 0;
	width: 500px;
	height: 500px;
}

.loader {
	z-index: 0;
	border: 2em solid #00000000;
	border-radius: 50%;
	border-top: 2em solid rgba(179, 255, 0, 0.13);
	width: 20em;
	height: 20em;
	opacity: 0;
	transition: opacity 1s;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes spinReverse {
	0% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}