*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	z-index: 2;
}

html{
	scroll-behavior: smooth;
}

body{
	z-index: 0;
}

#main-container{
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

#home{
	height: 100vh;
	width: 100%;
}

nav{
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 3;
}

.nav-item{
	display: inline-block;
	margin: .4em;
	cursor: pointer;
}

nav ul{
	padding: 1em;
}

a{
	text-decoration: none;
	padding: .75em;
	line-height: 2.5em;
}

.active{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#title{
	text-align: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 5%;
	float: left;
	width: 40%;
}

#picture{
	text-align: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10%;
	float: left;
	height: 60%;
}

#picture img{
	height: 100%;
}

h1{
	font-size: 4em;
}

hr{
	width: 50%;
	margin: 0 0 .5em 50%;
}

#about{
	width: 100%;
}

#about-container, #projects-container, #experience-container, #schooling-container, #contact-container{
	position: relative;
	margin-left: 25%;
	padding-top: 4em;
	padding-bottom: 4em;
	width: 50%;
}

#about-container h2, #projects-container h2, #experience-container h2, #schooling-container h2, #contact-container h2{
	text-align: center;
	padding: 3em;
}

#about-container p{
	text-align: justify;
}

#projects{
	width: 100%;
}

.container {
	position: relative;
	width: calc(100% - .6em);
	margin: .6em .3em;
}
  
.image {
	display: block;
	width: 100%;
	height: auto;
}
  
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
}
  
.container:hover .overlay {
	opacity: 1;
}
  
.text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
  
.row {
	display: flex;
	flex-wrap: wrap;
}
  
.column {
	width: 50%;
}

#experience{
	width: 100%;
}

#experience-container img, #schooling-container img{
	width: 100%;
	margin-bottom: 1em;
	background-color: white;
}

.logo{
	width: 30%;
	float: left;
	padding: 1em 1em 0 1em;
}

.experience-description{
	width: calc(70% - 4em);
    float: right;
    padding: 1em;
}

.experience-description h3, .experience-description h4{
	padding-bottom: 1em;
}

.experience-description p{
	text-align: justify;
}

#experience-container div{
	overflow: hidden;
}

#schooling{
	width: 100%;
}

.schooling-description{
	width: calc(70% - 4em);
    float: right;
    padding: 1em;
}

.schooling-description h3, .schooling-description h4{
	padding-bottom: 1em;
}

.schooling-description p{
	text-align: justify;
}

#schooling-container div{
	overflow: hidden;
}

#copyright{
	margin-top: 2em;
}

line{
	stroke-width: .1em;
}

.overlay{
	border-left: 2px solid #00000000;
}

/*	THEMES	*/
.theme-background{
	background-color: var(--background-color);
}

.theme-item{
	border: solid 2px var(--background-color);
}

*, a{
	color: var(--text-color);
}

.theme-text, ::selection, .active a, .theme-text-reverse{
	color: var(--text-color-accent);
}

.theme-icon{
	filter: invert(var(--icon-invert));
}

#theme-button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2em;
	cursor: pointer;
	line-height: 1em;
	padding: 0.25em;
}

#theme-button img{
	height: 1.5em;
	width: 1.5em;
	filter: invert(var(--icon-invert));
}

:root {
	--background-color: #fff;
	--text-color: #151515;
	--text-color-accent: #fff;
	--icon-invert: 100%;
}

[data-theme="dark"] {
	--background-color: #151515;
	--text-color: #fff;
	--text-color-accent: #fff;
	--icon-invert: 0%;
}

/*purple 251 0 255*/

/*rose bonbon 255 0 124*/
.colored-background, .active, ::selection{
	background-color: rgb(255, 0, 124);
}

.colored-background-fade{
	background-color: rgba(255, 0, 124, 0.85);
}

.colored-border, .active, .nav-item:hover{
	border: solid 2px rgb(255, 0, 124);
}

.decorator {	
	background-color: rgba(255, 0, 124, 0.05);
}

line{
	stroke: rgb(255, 0, 124);
}

#experience-container img, #schooling-container img{
	border: solid 2px rgb(255, 0, 124);
}

#contact-container div img:hover, #theme-button:hover img{
	filter: invert(75%) sepia(100%) hue-rotate(297deg) saturate(9);
}	

  /* width */
::-webkit-scrollbar {
	width: 1em;
}
  
  /* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.decorator {
	position: absolute;
	z-index: 0;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	opacity: 0;
	transition: opacity 1s, transform 10s;
}

#contact-container div{
	text-align: center;
}

#contact-container div img{
	width: 3em;
	height: auto;
	margin: 2em;
	cursor: pointer;
}

#project-viewer{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 4;
}

.project{
	width: 100vw;
	height: 100vh;
}