* {
  margin: 0;
  padding: 0;
}

body[light-theme] {
  --background-color: rgba(255, 255, 255, 0.8);
  --accent-color: #BDA27D;
  --text-color: rgb(39, 39, 39);
  --contrast-text-color: rgb(255, 255, 255);
}

body[dark-theme] {
  --background-color: rgba(25, 25, 25, 0.57);
  --accent-color: #BDA27D;
  --text-color: rgb(255, 255, 255);
  --contrast-text-color: rgb(39, 39, 39);
}

#main1 {
  background-image: url("./Images/Backgrounds/Main-reverse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: "Bebas neue";
  color: var(--text-color);
  font-size: 2.5rem;
  display: flex;
}
#main1 h1 {
  font-size: 3em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0;
}
#main1 hr {
  width: 70%;
  border: 1px solid var(--accent-color);
}
#main1 h2 {
  font-size: 4rem;
  font-weight: normal;
  color: var(--accent-color);
  line-height: 1em;
}
#main1 #main-outside-container {
  background: var(--background-color);
  backdrop-filter: blur(5px);
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1 #main-outside-container #main-inside-container {
  text-shadow: 0px 0px 10px var(--contrast-text-color);
  border: solid 3px var(--accent-color);
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1 #main-outside-container #main-inside-container .decorator {
  height: 3rem;
  width: 3rem;
  position: absolute;
  margin: 2rem;
}
#main1 #main-outside-container #main-inside-container .decorator div {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  background-color: var(--accent-color);
}
#main1 #main-outside-container #main-inside-container .decorator div:nth-child(1), #main1 #main-outside-container #main-inside-container .decorator div:nth-child(2) {
  top: 0;
}
#main1 #main-outside-container #main-inside-container .decorator div:nth-child(3), #main1 #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  bottom: 0;
}
#main1 #main-outside-container #main-inside-container .decorator div:nth-child(1), #main1 #main-outside-container #main-inside-container .decorator div:nth-child(3) {
  left: 0;
}
#main1 #main-outside-container #main-inside-container .decorator div:nth-child(2), #main1 #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  right: 0;
}
#main1 #main-outside-container #main-inside-container .decorator:nth-child(1), #main1 #main-outside-container #main-inside-container .decorator:nth-child(2) {
  top: 0;
}
#main1 #main-outside-container #main-inside-container .decorator:nth-child(3), #main1 #main-outside-container #main-inside-container .decorator:nth-child(4) {
  bottom: 0;
}
#main1 #main-outside-container #main-inside-container .decorator:nth-child(1), #main1 #main-outside-container #main-inside-container .decorator:nth-child(3) {
  left: 0;
}
#main1 #main-outside-container #main-inside-container .decorator:nth-child(2), #main1 #main-outside-container #main-inside-container .decorator:nth-child(4) {
  right: 0;
}
#main1 #main-outside-container #main-inside-container #main-content-container {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1 #main-outside-container #main-inside-container #main-content-container #title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main1 #main-outside-container #main-inside-container #main-content-container nav ul {
  display: flex;
  font-size: 2rem;
}
#main1 #main-outside-container #main-inside-container #main-content-container nav ul li {
  display: inline-block;
  padding: 1rem 2rem 0.8rem 2rem;
  position: relative;
  cursor: pointer;
  font-size: 1.2em;
}
#main1 #main-outside-container #main-inside-container #main-content-container nav ul li[active]::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  float: left;
  transform: translateY(-50%) rotateZ(45deg);
  background-color: var(--accent-color);
}
#main1 #main-outside-container #main-inside-container #main-content-container nav ul li:hover {
  color: var(--accent-color);
}

#main1ter {
  background-image: url("./Images/Backgrounds/Main-reverse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: "Bebas neue";
  color: var(--text-color);
  font-size: 2.5rem;
  display: flex;
}
#main1ter h1 {
  font-size: 3em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0;
}
#main1ter hr {
  width: 70%;
  border: 1px solid var(--accent-color);
}
#main1ter h2 {
  font-size: 4rem;
  font-weight: normal;
  color: var(--accent-color);
  line-height: 1em;
}
#main1ter #main-outside-container {
  background: var(--background-color);
  backdrop-filter: blur(5px);
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
#main1ter #main-outside-container #main-inside-container {
  text-shadow: 0px 0px 10px var(--contrast-text-color);
  border: solid 3px var(--accent-color);
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
#main1ter #main-outside-container #main-inside-container .decorator {
  height: 3rem;
  width: 3rem;
  position: absolute;
  margin: 2rem;
}
#main1ter #main-outside-container #main-inside-container .decorator div {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  background-color: var(--accent-color);
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(1), #main1ter #main-outside-container #main-inside-container .decorator div:nth-child(2) {
  top: 0;
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(3), #main1ter #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  bottom: 0;
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(1), #main1ter #main-outside-container #main-inside-container .decorator div:nth-child(3) {
  left: 0;
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(2), #main1ter #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  right: 0;
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(1) {
  border-radius: 0.5rem 0 0 0;
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(2) {
  border-radius: 0 0.5rem 0 0;
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(3) {
  border-radius: 0 0 0 0.5rem;
}
#main1ter #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  border-radius: 0 0 0.5rem 0;
}
#main1ter #main-outside-container #main-inside-container .decorator:nth-child(1), #main1ter #main-outside-container #main-inside-container .decorator:nth-child(2) {
  top: 0;
}
#main1ter #main-outside-container #main-inside-container .decorator:nth-child(3), #main1ter #main-outside-container #main-inside-container .decorator:nth-child(4) {
  bottom: 0;
}
#main1ter #main-outside-container #main-inside-container .decorator:nth-child(1), #main1ter #main-outside-container #main-inside-container .decorator:nth-child(3) {
  left: 0;
}
#main1ter #main-outside-container #main-inside-container .decorator:nth-child(2), #main1ter #main-outside-container #main-inside-container .decorator:nth-child(4) {
  right: 0;
}
#main1ter #main-outside-container #main-inside-container #main-content-container {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1ter #main-outside-container #main-inside-container #main-content-container #title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main1ter #main-outside-container #main-inside-container #main-content-container nav ul {
  display: flex;
  font-size: 2rem;
}
#main1ter #main-outside-container #main-inside-container #main-content-container nav ul li {
  display: inline-block;
  padding: 1rem 2rem 0.8rem 2rem;
  position: relative;
  cursor: pointer;
  font-size: 1.2em;
}
#main1ter #main-outside-container #main-inside-container #main-content-container nav ul li[active]::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  float: left;
  transform: translateY(-50%) rotateZ(45deg);
  background-color: var(--accent-color);
  border-radius: 0.3rem;
}
#main1ter #main-outside-container #main-inside-container #main-content-container nav ul li:hover {
  color: var(--accent-color);
}

#main1bis {
  background-image: url("./Images/Backgrounds/Main-reverse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: "Bebas neue";
  color: var(--text-color);
  font-size: 2.5rem;
  display: flex;
}
#main1bis h1 {
  font-size: 3em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0;
}
#main1bis hr {
  width: 70%;
  border: 1px solid var(--accent-color);
}
#main1bis h2 {
  font-size: 4rem;
  font-weight: normal;
  color: var(--accent-color);
  line-height: 1em;
}
#main1bis #main-outside-container {
  background: var(--background-color);
  backdrop-filter: blur(5px);
  padding: 0.5em;
  box-sizing: border-box;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1bis #main-outside-container #main-inside-container {
  text-shadow: 0px 0px 10px var(--contrast-text-color);
  border: solid 3px var(--accent-color);
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1bis #main-outside-container #main-inside-container .decorator {
  height: 3rem;
  width: 3rem;
  position: absolute;
  margin: 2rem;
}
#main1bis #main-outside-container #main-inside-container .decorator div {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  background-color: var(--accent-color);
}
#main1bis #main-outside-container #main-inside-container .decorator div:nth-child(1), #main1bis #main-outside-container #main-inside-container .decorator div:nth-child(2) {
  top: 0;
}
#main1bis #main-outside-container #main-inside-container .decorator div:nth-child(3), #main1bis #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  bottom: 0;
}
#main1bis #main-outside-container #main-inside-container .decorator div:nth-child(1), #main1bis #main-outside-container #main-inside-container .decorator div:nth-child(3) {
  left: 0;
}
#main1bis #main-outside-container #main-inside-container .decorator div:nth-child(2), #main1bis #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  right: 0;
}
#main1bis #main-outside-container #main-inside-container .decorator:nth-child(1), #main1bis #main-outside-container #main-inside-container .decorator:nth-child(2) {
  top: 0;
}
#main1bis #main-outside-container #main-inside-container .decorator:nth-child(3), #main1bis #main-outside-container #main-inside-container .decorator:nth-child(4) {
  bottom: 0;
}
#main1bis #main-outside-container #main-inside-container .decorator:nth-child(1), #main1bis #main-outside-container #main-inside-container .decorator:nth-child(3) {
  left: 0;
}
#main1bis #main-outside-container #main-inside-container .decorator:nth-child(2), #main1bis #main-outside-container #main-inside-container .decorator:nth-child(4) {
  right: 0;
}
#main1bis #main-outside-container #main-inside-container #main-content-container {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1bis #main-outside-container #main-inside-container #main-content-container #title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main1bis #main-outside-container #main-inside-container #main-content-container nav ul {
  display: flex;
  font-size: 2rem;
}
#main1bis #main-outside-container #main-inside-container #main-content-container nav ul li {
  display: inline-block;
  padding: 1rem 2rem 0.8rem 2rem;
  position: relative;
  cursor: pointer;
  font-size: 1.2em;
}
#main1bis #main-outside-container #main-inside-container #main-content-container nav ul li[active]::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  float: left;
  transform: translateY(-50%) rotateZ(45deg);
  background-color: var(--accent-color);
}
#main1bis #main-outside-container #main-inside-container #main-content-container nav ul li:hover {
  color: var(--accent-color);
}

#main2 {
  background-image: url("./Images/Backgrounds/Main-reverse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: "Bebas neue";
  color: var(--text-color);
  font-size: 2.5rem;
  position: relative;
}
#main2 h1 {
  font-size: 3em;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0;
}
#main2 hr {
  width: 100%;
  border: 1px solid var(--accent-color);
  margin-left: 7em;
}
#main2 h2 {
  font-size: 4rem;
  font-weight: normal;
  color: var(--accent-color);
  line-height: 1em;
}
#main2 nav {
  background-color: var(--background-color);
  backdrop-filter: blur(5px);
  display: flex;
}
#main2 nav #link-container {
  background-image: url("./Images/Backgrounds/NavBar.png");
  background-repeat: no-repeat;
  background-position: -2em 0;
  background-size: cover;
  padding-right: 6em;
}
#main2 nav #link-container ul {
  display: flex;
  list-style: none;
}
#main2 nav #link-container li {
  padding: 0.4em 0.7em;
  background-color: white;
}
#main2 nav #nav-decorators {
  margin: 0.2em;
}
#main2 nav #nav-decorators div {
  width: 1.5rem;
  height: 1.5rem;
  float: left;
  margin: 0.15rem;
  background-color: var(--accent-color);
}
#main2 #content-container {
  height: calc(100% - 2em);
}
#main2 #content-container #main-outside-container {
  background: var(--background-color);
  backdrop-filter: blur(5px);
  padding: 0.4em;
  box-sizing: border-box;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#main2 #content-container #main-outside-container #main-inside-container {
  text-shadow: 0px 0px 10px var(--contrast-text-color);
  border: solid 3px var(--accent-color);
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator {
  height: 3rem;
  width: 3rem;
  position: absolute;
  margin: 3rem;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator div {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  background-color: var(--accent-color);
}
#main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(1), #main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(2) {
  top: 0;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(3), #main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  bottom: 0;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(1), #main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(3) {
  left: 0;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(2), #main2 #content-container #main-outside-container #main-inside-container .decorator div:nth-child(4) {
  right: 0;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(1), #main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(2) {
  top: 0;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(3), #main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(4) {
  bottom: 0;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(1), #main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(3) {
  left: 0;
}
#main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(2), #main2 #content-container #main-outside-container #main-inside-container .decorator:nth-child(4) {
  right: 0;
}
#main2 #content-container #main-outside-container #main-inside-container #main-content-container {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main2 #content-container #main-outside-container #main-inside-container #main-content-container #title-container {
  display: flex;
  flex-direction: column;
  margin-left: -10em;
}

/*# sourceMappingURL=style.css.map */
