* {
  color: rgba(255, 255, 255, 0.2);
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
}
body nav {
  padding: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
body nav #nav-content {
  height: 100%;
  position: relative;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
body nav #nav-content #nav-outer-border {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
body nav #nav-content #nav-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 51px;
  justify-content: center;
  position: relative;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
body nav #nav-content #nav-top #nav-burger {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 67px;
}
body nav #nav-content #nav-top #nav-burger button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: auto;
  position: relative;
  background: none;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px 0 0 0;
  border: 1px solid transparent;
}
body nav #nav-content #nav-top #nav-burger button:hover {
  border-color: white;
  color: orange;
}
body nav #nav-content #nav-top #nav-bar {
  flex: 1;
  height: 100%;
  position: relative;
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items button {
  background: none;
  border: none;
  pointer-events: all;
  cursor: pointer;
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items button.active .nav-button-content .nav-button-dot {
  opacity: 1;
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items button.active .nav-button-content .nav-button-text {
  color: rgba(255, 255, 255, 0.7);
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items button:hover .nav-button-content .nav-button-text {
  color: rgba(255, 165, 0, 0.7);
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items button .nav-button-content {
  position: relative;
  display: flex;
  align-items: center;
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items button .nav-button-content .nav-button-dot {
  position: relative;
  background: white;
  display: inline-block;
  height: 0.5rem;
  max-height: 0.5rem;
  min-height: 0.5rem;
  width: 0.5rem;
  max-width: 0.5rem;
  min-width: 0.5rem;
  margin-right: 9px;
  opacity: 0;
}
body nav #nav-content #nav-top #nav-bar #nav-bar-content #nav-items button .nav-button-content .nav-button-text {
  vertical-align: top;
}
body nav #nav-content #nav-left {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 67px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=main.css.map */
